<h4>قياس المشاعر</h4>

<div class="section"> 
<div class="small-5 columns">
    <span style='font-size:18px; color:#aaa79f; display:block; direction:ltr; text-align:right; margin-top:60px;'>محايد = {{nuteral | number}}  <img src='images/flat-icon.png' style="width:20px; margin-left:10px;" alt='' /> </span>
    <span style='font-size:18px; color:#e67471; display:block; direction:ltr; text-align:right;'> سلبي = {{negative | number}}  <img src='images/sad-icon.png' style="width:20px; margin-left:10px;" alt='' /></span>
    <span style='font-size:18px; color:#3e9a9a; display:block; direction:ltr; text-align:right;'> إيجابي = {{positive | number}}  <img src='images/happy-icon.png' style="width:20px; margin-left:10px;" alt='' /></span>
    <div style="display:none"> based on <span style='font-size:18px; color:#33CCFF;'>{{total}}</span> Tweets</div>
</div>
<div sentiment positive="positive" negative="negative" nuteral="nuteral" class="small-7 columns sentiment"></div>
</div>