<h4>احصائيات عامة</h4>

<div class="sub_section">
        <div class="stat_box blue"><em>الهاشتاقات:</em> <span>{{hashtags | number}}</span></div>
        <div class="stat_box green"><em>روابط:</em> <span>{{links | number}}</span></div>
        <div class="stat_box orange"><em>المغردون:</em> <span>{{tweeters | number}}</span></div>
        <div class="stat_box maroon"><em>نقاشاً:</em> <span>{{mentions | number}}</span></div>
        <div class="stat_box purple"><em>التغريدات:</em> <span>{{tweets | number}}</span></div>
</div>